#item-list
    table.table.table-hover
        thead
            tr
                th image
                th name
                th category
                th property
                th price
                th company
                th quantity
                th command
        tbody
            tr(ng-repeat='item in items')
                td
                td {{item.name}}
                td {{item.category}}
                td
                td {{item.price}}
                td {{item.company}}
                td {{item.quantity}}
                td
                    a.btn.btn-default.btn-xs(href='#!/item/{{item._id}}') Edit
                    a.btn.btn-default.btn-xs(href='#!/item/{{item._id}}/delete') Delete
