<div ng-show="showForm">
    <form ng-submit="createOrder()" role="form">
        <div class="form-group">
            Product title<br>
            <input type="text" name="title" ng-model="title" class="form-control">
        </div>
        <div class="form-group">
            Approximate cost<br>
            <input type="number" step="0.1" name="price" ng-model="price" class="form-control">
        </div>
        <div class="form-group">
            <h4>From:</h4>
            Username<br>
            <input type="text" name="fromUsername" ng-model="fromUsername" class="form-control">
        </div>
        <div class="form-group">
            Address<br>
            <input type="text" id="fromAddress" class="form-control">
        </div>
        <div class="form-group">
            <h4>To:</h4>
            Username
            <br>
            <input type="text" name="toUsername" ng-model="toUsername" class="form-control">
        </div>
        <div class="form-group">
            Address<br>
            <input type="text" id="toAddress" class="form-control">
        </div>
        <br>
        <input type="submit" value="Submit" class="form-control btn btn-success">
    </form>
</div>
<div ng-show="timeOutput">
    <p>Delivery time: {{estimatedTime}}</p>
    <p>The order will be delivered at :{{deliveryDate}}</p>
    <button ng-click="resetForm()">One more order</button>
</div>