<div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Order info</div>
                <div class="panel-body">
                    <div>
                        <p>Travel time:{{estimatedTime/60}} mins</p>
                        <p>Tracking-code :{{trackingCode}}</p>
                        <p>Current state:{{state}}</p>
                        <div id="map" style="width:500px;height:380px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>