<div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">Track order</div>
                <div class="panel-body">
                    <form ng-submit="trackOrderForm.$valid && trackOrder()" role="form" name="trackOrderForm" novalidate>
                    <div class="input-group">
                        <input type="text" name="trackingCode" class="form-control" ng-model="trackingCode"
                               placeholder="Input order tracking code..." required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                    </form>
                </div>
         </div>
    </div>
</div>