<div class="well">
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form-horizontal" ng-submit="register()">
        <fieldset>
            <legend class="text-center">Register</legend>
            <div class="form-group">
                <label for="inputUser" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUser" name="username" ng-model="registerForm.username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" name="password" ng-model="registerForm.password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" name="email" ng-model="registerForm.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter a valid email address" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBankAccount" class="col-lg-2 control-label">Bank Account</label>
                <div class="col-lg-10">
                    <input type="bankAccount" class="form-control" id="inputbankAccount" name="bankAccount" ng-model="registerForm.bankAccount" placeholder="Enter Your bank account ">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-lg-2 control-label">Address</label>
                <div class="col-lg-10">
                    <input googleplace ng-model="registerForm.address.str" class="form-control" id="inputAddress" type="text" lat="registerForm.address.lat" lng="registerForm.address.lng" name="address" >
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-disabled="disabled">Register</button>
            <div class="well well-sm pull-left">
                Already a member?
                <p><a href="#/login" data-toggle="tooltip" title="Click to log in to your account">Log In</a></p>
            </div>
        </fieldset>
    </form>
</div>

