<div class="well bs-component">
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form-horizontal" ng-submit="register()">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="inputUser" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUser" name="username" ng-model="registerForm.username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" name="password" ng-model="registerForm.password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" name="email" ng-model="registerForm.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter a valid email address" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCountry" class="col-lg-2 control-label">Country</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCountry" name="country" ng-model="registerForm.country" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCity" class="col-lg-2 control-label">City</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCity" name="city" ng-model="registerForm.city" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStreet" class="col-lg-2 control-label">Street</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputStreet" name="street" ng-model="registerForm.street" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-disabled="disabled">Register</button>
            <div class="well well-sm pull-left">
                Already a member?
                <p><a href="#/login" data-toggle="tooltip" title="Click to log in to your account">Log In</a></p>
            </div>
        </fieldset>
    </form>
</div>
