<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<h2>Make order</h2>
<form action="order" method="post">
    <h3>Product</h3>
    Product title:<br>
    <input type="text" name="title"><br>
    Approximate cost:<br>
    <input type="number" name="price"><br>
    <h3>From:</h3>
    Addresser name:<br>
    <input type="text" name="sender"><br>
    Adress:<br>
    <input type="text" name="from">
    <h3>To:</h3>
    Addressee name:<br>
    <input type="text" name="getter"><br>
    Adress:<br>
    <input type="text" name="to">
    <input type="submit" value="Submit">
</form>
<h2>Track order</h2>
</body>
</html>