<html ng-app="app">
<head>
  <title>Shop App</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<ng-view></ng-view>
<pages></pages>

<!-- Libraries -->
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>

<!-- Template -->



<script src="/js/ngApp.js"></script>
<script src="/js/controllers/products.js"></script>
<script src="/js/controllers/categories.js"></script>
<script src="/js/controllers/pagination.js"></script>
<script src="/js/controllers/product-show-controller.js"></script>
<script src="/js/controllers/category-show-controller.js"></script>
<script src="/js/services/products.js"></script>
<script src="/js/services/categories.js"></script>
<script src="/js/directives/pages.js"></script>
<script src="/js/directives/product-items.js"></script>
<script src="/js/directives/category-items.js"></script>
<script src="/js/routs.js"></script>



</body>
</html>