
<div class="modal-header">
    <h3 class="modal-title text-center">This item will be added to cart!</h3>
</div>
<div class="modal-body">
	<div class="well">
	<div><img ng-src="{{modal.item.images[0]}}" width="150px">
	<strong>{{modal.item.name}}&nbsp</strong> Price: {{modal.item.price | currency}}</div>

	<div class="text-center"><label for="quantity">Quantity</label>
	<input type="number" id="quantity" name="number" ng-model="modal.quantity" min="1" onfocus="this.blur()">
	Total: <strong>{{modal.total() | currency}}</strong></div>
  </div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modal.ok({itemId: modal.item._id, quantity:modal.quantity})">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
</div>
