


<form name="myForm" >
Search: <input type="text" class="searchField"  ng-model="data.searchField"> <input type="button" class="send_form" ng-click="properties.clickToFilterButton()" value="OK" >
<div ng-show="properties.isCat" class="sidebar-category" category-items></div>
<div ng-hide="properties.isCat">
	<div ng-hide="complete.property" class="loader"></div>
	<div ng-show="complete.property">
		<div ng-repeat="property in data.properties" class="property_name">{{property.name}} 
			
			<div ng-repeat="value in property.value">
				<input ng-change="properties.clickToProperty()" type="checkbox"  ng-model="value.state"><span class="propert_value">{{value.name}}  <strong>{{value.count}}</strong>  </span>
				
			</div>
		</div>
		<div range-slider  min="0" max="data.price.max + 10" model-min="data.price.min" model-max="data.price.max" show-values="true"></div>
		<input type="button" class="send_form" ng-click="properties.clickToFilterButton()" value="OK" >
	</div>
</div>
</form>

<!-- <a class="send_form"  ng-href="#/?{{data | setUrl}}">Send</a> -->
</div>
