doctype html
html(ng-app="adminCatalog")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title

        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body(ng-controller="mainController")
        .container
            h1= title
            p Welcome to #{title}
        #item-list
            ul(ng-repeat="item in items")
                li {{item.name}}

        script(type='text/javascript' src='/bower_components/angular/angular.js')
        script(type='text/javascript' src='/bower_components/jquery/dist/jquery.js')
        script(type='text/javascript' src='/js/admin/app.js')