<div class="col-md-2"></div>
<div class="col-md-8">
    <div ng-show="isTableVisible" ng-init="isTableVisible=false">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <br>
        <table class="table table-striped table-hover" style="background-color: white">
            <thead>
            <tr>
                <th ng-click="sort('arrivalTime')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='arrivalTime'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>Arrival time
                </th>
                <th ng-click="sort('isAvailable')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='isAvailable'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    Available
                </th>
                <th ng-click="sort('isActive')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='isActive'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    Active
                </th>
                <th>
                    Order
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="car in cars|orderBy:sortKey:reverse|filter:search|itemsPerPage:8">
                <td>{{car.arrivalTime?formatDate(car.arrivalTime):'-'}}</td>
                <td>{{car.isAvailable}}</td>
                <td>{{car.isActive}}</td>
                <td><a href="" ng-click="redirectToOrder(car._order)" ng-show="!car.isAvailable">Order</a>
                    <span ng-show="car.isAvailable">-</span></td>
                <td><span><button class="btn btn-danger btn-sm" ng-click="deactivateCar(car)">Stop</button></span></td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>