<link rel="stylesheet" href="css/create-order.css">
<link rel="stylesheet" href="css/lib/autocomplete.css">
<div class="row" ng-show="showContent" ng-init="showContent=true">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-success animated fadeIn" id="formForOrder">
            <div class="panel-heading">Make order</div>
            <div class="panel-body">
                <div>
                    <form ng-submit="toPlace&&fromPlace
                               &&validateAddress(toPlace)&&
                               validateAddress(fromPlace)&& placesUnique()&&orderForm.$valid && createOrder()"
                          role="form" name="orderForm" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': orderForm.title.$touched
                             && orderForm.title.$invalid }">
                            <p>Product</p>
                            <input type="text" name="title" ng-model="title" class="form-control" required
                                   ng-minlength="3"
                                   ng-maxlength="16" placeholder="Title">
                            <div class="help-block" ng-messages="orderForm.title.$error"
                                 ng-if="orderForm.title.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': orderForm.price.$touched
                             && orderForm.price.$invalid }">
                            <input type="number" step="0.1" name="price" ng-model="price" class="form-control" required
                                   min="{{1}}"
                                   max="{{1000000}}" placeholder="$ Approximate cost">
                            <div class="help-block" ng-messages="orderForm.price.$error"
                                 ng-if="orderForm.price.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': orderForm.fromUsername.$touched
                                 && orderForm.fromUsername.$invalid }">
                            <p>From</p>
                            <input type="email" name="fromUsername" ng-model="fromUsername" class="form-control"
                                   placeholder="Username" required>
                            <div class="help-block" ng-messages="orderForm.fromUsername.$error"
                                 ng-if="orderForm.fromUsername.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': orderForm.fromPlace.$touched
                             && orderForm.fromPlace.$invalid }">
                            <div ng-show="fromPlace && !validateAddress(fromPlace)" class="alert alert-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                You must specify city, street name and number
                            </div>
                            <input type="text" class="form-control" name="fromPlace" g-places-autocomplete
                                   force-selection="true" options="autocompleteOptions"
                                   ng-model="fromPlace" required autocomplete="off" placeholder="Address">
                            <div class="help-block" ng-messages="orderForm.fromPlace.$error"
                                 ng-if="orderForm.fromPlace.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': orderForm.toUsername.$touched
                                 && orderForm.toUsername.$invalid }">
                            <p>To</p>
                            <input type="email" name="toUsername" ng-model="toUsername" class="form-control" required
                                   placeholder="Username">
                            <div class="help-block" ng-messages="orderForm.toUsername.$error"
                                 ng-if="orderForm.toUsername.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': orderForm.toPlace.$touched
                             && orderForm.toPlace.$invalid }">
                            <div ng-show="toPlace && !validateAddress(toPlace)" class="alert alert-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                You must specify city, street name and number
                            </div>
                            <input type="text" class="form-control" name="toPlace" g-places-autocomplete
                                   force-selection="true" options="autocompleteOptions"
                                   ng-model="toPlace" required autocomplete="off" placeholder="Address">
                            <div class="help-block" ng-messages="orderForm.toPlace.$error"
                                 ng-if="orderForm.toPlace.$touched">
                                <div ng-messages-include="templates/validation-messages.html"></div>
                            </div>
                        </div>
                        <br>
                        <div class="alert alert-danger" ng-show="!placesAreUnique">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Cannot use the same address twice
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="form-control btn btn-success"
                               ng-class="toPlace&&fromPlace
                               &&validateAddress(toPlace)&&
                               validateAddress(fromPlace)&& placesUnique()&&orderForm.$valid?'':'disabled'">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"><img id="createOrderLogo" class="animated  animated fadeInDown" src="images/box.png"></div>
</div>
</div>
</div>
<div ng-class="loader">
    <span></span>
    <span></span>
    <span></span>
</div>