<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-inline" role="form" ng-submit="showHistory()" novalidate>
            <div class="form-group">
                <label for="fromUsername">From</label>
                <input type="text" class="form-control" id="fromUsername" placeholder="Username"
                       ng-model="fromUsername">
            </div>
            <div class="form-group">
                <label for="toUsername">To</label>
                <input type="text" class="form-control" id="toUsername" placeholder="Username"
                       ng-model="toUsername">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br>
<div ng-show="isTableVisible" ng-init="isTableVisible=false" class="animated fadeInUp">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <br>
    <div class="panel panel-default">
        <table class="table table-striped table-hover" style="background-color: white">
            <thead>
            <tr>
                <th ng-click="sort('title')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    Title
                </th>
                <th ng-click="sort('price')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='price'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    Approximate cost
                </th>
                <th ng-click="sort('from.username')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='from.username'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    From
                </th>
                <th ng-click="sort('to.username')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='to.username'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    To
                </th>
                <th ng-click="sort('arrivalTime')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='arrivalTime'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>Arrival time
                </th>
                <th ng-click="sort('title')">
                <span class="glyphicon sort-icon" ng-show="sortKey=='state'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
                    State
                </th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="order in orders|orderBy:sortKey:reverse|filter:search|itemsPerPage:10"
                ng-click="redirectToOrder(order.trackingCode)">
                <td>{{order.title}}</td>
                <td>{{order.price}}</td>
                <td>{{order.from.username}}</td>
                <td>{{order.to.username}}</td>
                <td>{{formatDate(order.arrivalTime)}}</td>
                <td>{{translateOrderState(order.state)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true">
    </dir-pagination-controls>
</div>