<link rel="stylesheet" href="css/order-info.css">
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel-danger animated tada" ng-show="isNotFoundVisible" ng-init="isNotFoundVisible=false">
        <div class="panel-heading">Not found</div>
        <div class="panel-body" id="notFound">
            <h3>There is no order with such tracking code :(</h3>
            <img src="../images/cat.ico">
    </div>
</div>
    <div class="panel panel-primary animated zoomIn" ng-show="isInfoVisible" ng-init="isInfoVisible=false">
        <div class="panel-heading">Order info</div>
        <div class="panel-body" id="info">
            <div>
                <div id="map" style="width:500px;height:380px;"></div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <td>Tracking-code</td>
                        <td>{{trackingCode}}</td>
                    </tr>
                    <tr>
                        <td>Estimated arrival time</td>
                        <td>{{arrivalTime}}</td>
                    </tr>
                    <tr>
                        <td>Travel time</td>
                        <td>{{travelTime}}</td>
                    </tr>
                    <tr>
                        <td>Current state</td>
                        <td>{{state}}</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>{{fromUsername}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{toUsername}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
