body {
    background-image: url(../images/background.png);
}
#brand{
    height: 33px;
    width: 150px;
}
#navigationBar{
    font-family: "Bitstream Charter", "Times New Roman", Times, serif;
    font-size: 15px;
}