#createOrderLogo{
    height:250px;
    width: 250px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#formForOrder{
    text-align: left;
    font-family: "Bitstream Charter", "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
}