.row {
    margin-top: 30px;
    margin-bottom: 100px;
}

#track_input {
    border-tgulpfileop-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgba(13, 13, 13, 0.38);
}

#go_button {
    color: white;
    background-color: rgba(173, 0, 0, 0.91);
    background-color: rgba(173, 0, 0, 0.91);
    border-color: rgba(13, 13, 13, 0.38);
}
#trackingForm{
    font-family: "Bitstream Charter", "Times New Roman", Times, serif;
}