/*	Reset & General
---------------------------------------------------------------------- */
* { margin: 0px; padding: 0px; }
body {
	font-family: "Open Sans", sans-serif; 
		
}

.product{
    position: relative;
	margin: 0 auto;
	perspective: 800px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    perspective: 800px;
    margin-bottom: 20px;
   	width: 100%;
    height:230px;
    transform-style: preserve-3d;
    transition: transform 5s;
	margin-right: 23px;
	-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;
}


.not_active {
	opacity: 0.5;
}

.main_inner {
	display: inline-block;
	position:relative;
}

.main_inner img {
	position: relative;

}
.product-front, .product-back{
	width: 100%;
	height: 230px;
	background:#fff;
	position:absolute;
	
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-back{
	display:none;
	transform: rotateY( 180deg );
}
.make3D.animate .product-back,
.make3D.animate .product-front,
div.large .product-back{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.make3D{
	width: 100%;
	height: 230px;
	overflow: hidden;
	position:absolute;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out;
       -moz-transition:  100ms ease-out;
         -o-transition:  100ms ease-out;
            transition:  100ms ease-out;
}
div.make3D.flip-10{
	-webkit-transform: rotateY( -10deg );
	-moz-transform: rotateY( -10deg );
	-o-transform: rotateY( -10deg );
	transform: rotateY( -10deg );
	transition:  50ms ease-out;
}
div.make3D.flip90{
	-webkit-transform: rotateY( 90deg );
	-moz-transform: rotateY( 90deg );
	-o-transform: rotateY( 90deg );
	transform: rotateY( 90deg );
	transition:  100ms ease-in;
}
div.make3D.flip190{
	-webkit-transform: rotateY( 190deg );
	-moz-transform: rotateY( 190deg );
	-o-transform: rotateY( 190deg );
	transform: rotateY( 190deg );
	transition:  100ms ease-out;
}
div.make3D.flip180{
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
	transition:  150ms ease-out;
}
.make3D.animate{
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out;
       -moz-transition:  100ms ease-out;
         -o-transition:  100ms ease-out;
            transition:  100ms ease-out;
}


.stats-container{
	background:#fff;	
	position:absolute;
	top:140px;
	width: 100%;
	height: 250px;
	padding: 10px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.make3D.animate .stats-container{
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size: 15px;
    color: #393c45;
    font-weight: 700;
}

.visibble-stats {
	position: relative;
	display: block;
	height: 80px;
	overflow: hidden;
}

.stats-container a:hover  {
	color: #393c45;

}
.stats-container p{
	font-size:12px;
	color:#b1b1b3;
	display: block;


}

.stats_end {
	height: 30px;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom:0;
	z-index: 20;

}
.stats-container .product_price{
	float:right;
	color:#008cba;
	font-size:22px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height: 130px;;
	background:#008cba;
	opacity:0;	
}
.make3D.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}

.add_to_cart{	
	position:absolute;
	top:10px;
	left:50%;
	width:152px;
	font-size:14px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart:hover{	
	background:#fff;
	color:#008cba;
	cursor:pointer;

}

.not_avaliable{
	position:absolute;
	top:10px;
	left:50%;
	width:152px;
	font-size:14px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#ccc;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	opacity:0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.make3D.animate .add_to_cart,.make3D.animate .not_avaliable{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.make3D.animate .not_avaliable {
	opacity: 0.5;
}
.view_gallery{	
	position:absolute;
	top:62px;
	left:50%;
	width:152px;
	font-size:14px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.view_gallery:hover{	
	background:#fff;
	color:#008cba;
	cursor:pointer;

}
.make3D.animate .view_gallery{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}



.product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
.flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
.cx, .cy{
	background:#d2d5dc;
	position:absolute;
	width:0 px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.flip-back:hover .cx, .flip-back:hover .cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.carousel{

	width:100%;
	height: 250px;
	overflow:hidden;
	position:relative;
}
.carousel ul{
	position:absolute;
	top:0;
	left:0;
}
.carousel li{
	width:100%;
	float:left;
	margin: 0 auto;
	overflow:hidden;
	display: block;
}
.carousel .inner img{
	position: relative;
	left:-50%;

	height: 230px;
	min-width: 100%;
}
.carousel .inner {
	display: inline-block;
	position:relative;
	right: -50%;
	margin-left:5px;
}
.arrows-perspective{
	width:100%;
	height:55px;
	position: absolute;
	overflow: hidden;
	top: 90px;
	transform-style: preserve-3d;
    transition: transform 5s;
	perspective: 335px;
}
.carouselPrev, .carouselNext{
	width: 50px;
	height: 55px;
	background: #ccc;
	position: absolute;	
	top:0;
	transition: all 200ms ease-out; 
	opacity:0.9;
	cursor:pointer;
}
.carouselNext{
	top:0;
	right: -26px;
	-webkit-transform: rotateY( -117deg );
         -moz-transform: rotateY( -117deg );
           -o-transform: rotateY( -117deg );
              transform: rotateY( -117deg );
			  transition: all 200ms ease-out; 			

}
.carouselNext.visible{
		right:0;
		opacity:0.8;
		background: #fff;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carouselPrev{		
	left:-26px;
	top:0;
	-webkit-transform: rotateY( 117deg );
         -moz-transform: rotateY( 117deg );
           -o-transform: rotateY( 117deg );
              transform: rotateY( 117deg );
			  transition: all 200ms ease-out; 

}
.carouselPrev.visible{
		left:0;
		opacity:0.8;
		background: #fff;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carousel .x, .carousel .y{
	height:2px;
	width:15px;
	background:#1b6d85;
	position:absolute;
	top:31px;
	left:17px;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);	
}
.carousel .x{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
	top:21px;
}
.carousel .carouselNext .x{
	-ms-transform: rotate(45deg); 	
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		
}
.carousel .carouselNext .y{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
}


@media only screen and (max-width: 480px) {
	.all_product {
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 992px) {
	.buy {
		padding: 15px;
	}
	.make3D,.product {
		height: 220px;
		box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.05);
	}
	.stats-container {
		top:140px;
	}
	.make3D.animate .stats-container {
		top:140px;
	}
	 .add_to_cart,.view_gallery,.not_avaliable {
		 top: 89px;
		 left: 40%;
		 width:52px;
		 height: 43px;
		 font-size:0px;
		 border:2px solid #fff;
		 opacity: 1;
		 margin-left: -52px;
	 }

	.view_gallery {
		left: auto;
		right: 40%;
		margin-right: -52px;
		margin-left: 0;
	}
	p.small_description {
		display: none;
	}
	.visibble-stats {
		height: 45px;
	}
	.image_overlay {
		opacity: 0.7;
		top: 80px;

	}

	.stats_end {
		display: none;
	}

	.add_to_cart:before,.view_gallery:before,.not_avaliable:before {
		content: "";
		background: url('../img/shopping-cart.svg');
		background-size: contain;
		position:absolute;
		left:7px;
		top:6px;
		width:36px;
		height:29px;
	}

	.not_avaliable:before {
		background: url('../img/shopping-cart-none.svg');
		background-size: contain;
	}
	.view_gallery:before {
		background: url("../img/gallery.svg");
		background-size: contain;
		width: 33px;
		height: 33px;
		top:3px;
		left:8px;
	}

	.add_to_cart:hover:before,.view_gallery:hover:before,.not_avaliable:hover:before {
		background: url('../img/shopping-cart-hover.svg');
		background-size: contain;
		position:absolute;
		left:7px;
		top:6px;
		width:36px;
		height:29px;
	}

	.not_avaliable{
		opacity: 0.5;
	}

	.not_avaliable:hover:before {
		background: url('../img/shopping-cart-none.svg');
		background-size: contain;
	}

	.view_gallery:hover:before {
		background: url("../img/gallery-hover.svg");
		background-size: contain;
		width: 33px;
		height: 33px;
		top:3px;
		left:8px;
	}

	#sidebar {
		border: none;
	}

}