<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h3>Pay {{focusAccount}}</h3>
                <input class="form-control" placeholder="Amount" name="amount" type="number"
                       ng-model="formData.amount" min="0"
                       required>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="pay()">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>