<div ng-controller="modal">
    <div id="modalTransfer">
        <div class="panel panel-default">
            <div class="panel-heading">Transfer
                <button id="closeWindow" class="glyphicon glyphicon-remove" ng-click="closeModalTransfer()"></button>
            </div>
            <div class="panel-body">
                <form>
                    <input class="form-control" placeholder="Amount" name="amount" type="number"
                           ng-model="formData.amount" min="0" max="{{ amount }}"
                           required>
                    <input class="form-control" placeholder="Receiver" name="receiver" type="text"
                           ng-model="formData.receiver"
                           required>
                    <button class="btn btn-success" ng-click="transfer()">Pay</button>
                </form>
            </div>
        </div>
    </div>
</div>