<div id="cabinet" ng-controller="cabinet">
    <div class="buttonBar">
        <!--<button class="button" ng-click="payModal()">Pay</button>-->
        <button class="button" ng-click="transferModal()">Transfer</button>
        <button class="button" ng-click="newAccount()">New account</button>
        <button class="button" ng-click="logout()">Logout</button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-heading">
                Profile
            </div>
            <div class="panel-body">

                    Username: <span>{{ username }}</span>

            </div>
        </div>
        <div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-heading">
            Accounts
        </div>
        <div class="panel-body">
            <div ng-repeat="account in accounts" class="account">
                <div class="text-center">
                    <strong>{{account.name}}</strong> {{account._id}}
                </div>
                <div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        Amount
                        <div ><strong>{{ account.amount }}</strong></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center border-left">
                        Pay
                        <div><button ng-click="payModal(account._id)" class="glyphicon glyphicon-plus"></button></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center border-left">
                        Delete
                        <div><button ng-click="deleteAccount(account._id)" class="glyphicon glyphicon-remove"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="panel panel-default col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel-heading">
            History
        </div>
        <div class="panel-body">
            <table>
                <tr id="title">
                    <td>ID</td>
                    <td>Amount</td>
                    <td>Sender</td>
                    <td>Receiver</td>
                    <td>Event</td>
                    <td>Date</td>
                </tr>
                <tr ng-repeat="record in history" id="{{ record.event }}">
                    <td>{{ record.id }}</td>
                    <td>{{ record.amount }}</td>
                    <td>{{ record.sender }}</td>
                    <td>{{ record.receiver }}</td>
                    <td>{{ record.event }}</td>
                    <td>{{ time(record.date) }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>