<div class="well">
    <form class="form-horizontal" name="confirm.addressForm">
        <fieldset>
            <legend class="text-center">Confirm Your shipping address</legend>
            <div class="form-group">
                <label for="address" class="col-lg-2 control-label">Address</label>
                <div class="col-lg-10">
                    <input googleplace ng-model="confirm.address" class="form-control" id="address" type="text" lat="confirm.mylat" lng="confirm.mylng" name="address" required>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-click="confirm.ok()">OK</button>
            </div>
        </fieldset>
    </form>
</div>
