<div class="container">
    <h3>Order's History</h3>
    <div class="well">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Created</th>
                    <th>Grand Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='order in history.allOrders'>
                    <td>
                        <a ng-href="#/order/cart" ng-if="order._id === shoppingCart.order._id">{{ order._id }}</a>
                        <a ng-href="#/order/{{order._id}}" ng-if="order._id !== shoppingCart.order._id">{{ order._id }}</a>
                    </td>
                    <td>{{ order.date.created | moment }}</td>
                    <td>{{ order.total || shoppingCart.total }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
