<div class="container">
    <h3>Order</h3>
    <p> #{{detail.order._id}}</p>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sum</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='item in detail.order.itemSet'>
                    <td>
                        <a ng-href="#/product/{{item.productId._id}}">
                            <img ng-src="{{item.images[0]}}" style="width:100px"> {{item.name}}
                        </a>
                    </td>
                    <td>{{item.category}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.quantity * item.price | currency}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total :</strong></td>
                    <td><strong>{{ detail.order.total }} $</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p ng-show="detail.order.trackingCode && !detail.order.date.completed">
        Order's tracking code: <strong>{{detail.order.trackingCode}}</strong>
        <br> Checkout arrival time
        <a href="" ng-click="detail.check(detail.order.trackingCode)"><strong>CHECK</strong></a>
    </p>
    <p>Created: {{detail.order.date.created | moment}}</p>
    <p ng-show="detail.order.date.paid">Paid: {{detail.order.date.paid | moment}}</p>
    <p ng-show="detail.order.date.completed">Completed: {{detail.order.date.completed | moment}}</p>
    <div class="panel panel-success" ng-show="detail.arrivalTime">
        <div class="panel-heading">
            <h3 class="panel-title">Estimated delivery time: </h3>
        </div>
        <div class="panel-body">
            <strong>{{detail.arrivalTime | moment}}</strong>
        </div>
</div>
